.emergency-container {
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
}

.emergency-list {
    margin-top: 20px;
}

.emergency-item-background {
    background-color: var(--main-item-color);
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
}

.emergency-item {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.emergency-item i {
    color: var(--notariz-pink);
}

.emergency-item button {
    color: var(--text-color);
    font-weight: bold;
    border-radius: 15px;
    height: 64px;
}

.emergency-item button:disabled {
    opacity: .2;
}

.receiver-text {
    color: var(--text-color) !important;
}

.receiver-text:hover {
    opacity: .7;
    cursor: pointer;
}

.emergency-container h3 {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.emergency-container .receiver-name {
    color: var(--text-color) !important;
}