.recovery-container {
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
}

.recovery-list {
    margin-top: 20px;
}

.recovery-container span {
    color: var(--notariz-pink);
}

.recovery-container h3 {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.recovery-item-background {
    background-color: var(--main-item-color);
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.recovery-item {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 35px;
}

button:disabled, button:disabled:hover {
    opacity: .2;
}