.wallet-adapter-button {
    background: -webkit-linear-gradient(left, rgb(253, 29, 104), rgb(243, 109, 142));
}

span {
    color: rgb(253, 29, 104);
}

.cta-button span {
    color: white !important;
}

.hint {
    opacity: 0.5;
    font-size: smaller;
    color: white !important;
    font-weight: 400;
}

.cta-button {
    border: 0;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.cta-button:hover,
.confirm-button:hover,
.delete-button:hover,
.edit-button:hover,
.cancel-button:hover {
    opacity: 0.7;
}

.delete-button {
    box-sizing: border-box;
    border: solid purple 1px;
    background-color: #1e2430;
    padding-top: 10px;
    padding-bottom: 10px;
}

.confirm-button {
    background: -webkit-linear-gradient(left, rgb(253, 29, 104), rgb(243, 110, 143));
    animation: gradient-animation 4s ease infinite;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cancel-button {
    background: -webkit-linear-gradient(purple, rgb(0, 5, 5));
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type='text'],
input[type='number'],
input[type='date'] {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    margin: 20px auto;
}

input[type='text']:disabled {
    opacity: 0.2;
}

.notariz-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 32, 44, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 1000;
    font-weight: bold;
}

.notariz-modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.notariz-modal.enter-done .notariz-modal-content {
    transform: translateY(0);
}

.notariz-modal.exit {
    opacity: 0;
}

.notariz-modal.exit .notariz-modal-content {
    transform: translateY(-200px);
}

.notariz-modal-content {
    width: 500px;
    background-color: rgb(46, 54, 70);
    border-radius: 10px;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
}

.notariz-modal-header {
    padding-top: 20px;
    color: white;
    font-weight: bold;
    z-index: auto;
}

.notariz-modal-header h3 {
    font-size: 22px;
}

.notariz-modal-title {
    margin: 0;
    margin-bottom: 20px;
}

.notariz-modal-body {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

.notariz-modal-body button {
    height: 50px;
}

.notariz-modal-body .modal-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.notariz-modal-body .delete-button {
    background-color: rgb(46, 54, 70);
}

.notariz-modal-body .edit-button {
    background-color: rgb(46, 54, 70);
}

.edit-button {
    box-sizing: border-box;
    border: solid rgb(255, 0, 85) 1px;
    background-color: #1a202c;
}

.status-button {
    margin-bottom: 20px;
    background: -webkit-linear-gradient(left, rgb(255, 0, 85), rgb(248, 85, 125));
    animation: gradient-animation 4s ease infinite;
    margin-left: 10px;
    height: 55px;
}

.status-button:hover {
    opacity: 0.8;
}
