.dashboard-container {
    margin-top: 85px;
    z-index: 0;
    align-items: center;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-container p {
    box-sizing: border-box;
    border: solid rgb(255, 0, 85) 1px;
    font-weight: bold;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 0.25rem;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-container button {
    margin-bottom: 10px;
}

.not-connected-container {
    margin-top: 150px;
}

.not-connected-container p {
    color: white;
    font-weight: bold;
    font-size: 32px;
    background-color: #1a202c;
    box-sizing: border-box;
    border: solid rgb(255, 0, 85) 1px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.not-connected-container h3 {
    font-size: 42px;
    background: -webkit-linear-gradient(left, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}

.not-connected-container, .dashboard-container span {
    color: rgb(255, 0, 85);
}

.not-connected-container .wallet-adapter-button {
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 230px;
    font-size: 22px;
    border-radius: 10px;
}

.wallet-adapter-button:hover {
    opacity: .7;
}

.dashboard-container .tab-content {
    position: relative;
    height: auto;
    margin-top: -15px;
    padding-top: 10px;
    color: #000;
    z-index: 1000;
    padding-bottom: 20px;
    width: 100%;    
}

.dashboard-container .nav-link {
    color: #617496;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    height: 50px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border-color:#1a202c;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dashboard-container .nav-tabs {
    border-bottom: 1px solid #1a202c;
}

.dashboard-container .nav-link.active {
    color: white;
    background-color: #1a202c;
    border-color:#1a202c;
}

.dashboard-container .nav-link:hover {
    border-color: purple;
    border-radius: 20px;
    color: white;
}

.dashboard-container .notification-badge {
    background-color: purple;
    color: white;
    margin-left: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100%;
}