.dashboard-container {
    margin-top: 7vh;
    z-index: 0;
    align-items: center;
    display:flex;
    flex-direction: column;
}

.dashboard-container p {
    box-sizing: border-box;
    background-color: var(--main-bg-color);  
    font-weight: 400;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 0.25rem;
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.dashboard-container button {
    margin-bottom: 10px;
}

.not-connected-container {
    margin-top: 10vh;
}

.not-connected-container p {
    color: var(--text-color);
    font-weight: bold;
    font-size: 32px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

h3 {
    font-size: 42px;
    background: -webkit-linear-gradient(left, #eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7vh;
}

.not-connected-container, .dashboard-container span {
    color: var(--notariz-pink);
}

.not-connected-container .wallet-adapter-button {
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 230px;
    font-size: 22px;
    border-radius: 10px;
}

.wallet-adapter-button:hover {
    opacity: .7;
}

.dashboard-container .tab-content {
    position: relative;
    height: auto;
    margin-top: -20px;
    padding-top: 10px;
    color: #000;
    z-index: 1000;
    padding-bottom: 20px;
    width: 100%;    
}

.dashboard-container .nav-link {
    color: var(--text-color-transparent);
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    height: 50px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border-color: var(--main-bg-color);
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dashboard-container .nav-tabs {
    border-bottom: 1px solid var(--main-bg-color);
}

.dashboard-container .nav-link.active {
    color: var(--text-color);
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.dashboard-container .nav-link:hover {
    border-color: #1a202c;
    border-radius: 20px;
    color: white;
    background-color: var(--main-item-color);
}

.dashboard-container .notification-badge {
    background-color: var(--notariz-purple);
    color: var(--text-color);
    margin-left: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100%;
}