.footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin-top: 100px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 10px 20px 10px var(--main-bg-color);
    z-index: 1000;
    width: 100%;
}

.footer .footer-text {
    margin: 20px 20px !important;
    color: var(--text-color) !important;
}

.footer span {
    margin: 0 10px;
    position: relative;
    color: var(--text-color);
}

.footer span a {
    text-decoration: none;
    color: var(--text-color);
}

.footer span:not(:first-child):before {
    content: '|';
    position: absolute;
    left: -11px;
    color: var(--notariz-pink);
}