.navbar {
    background-color: var(--main-bg-color);
    z-index: 0;
}

.fs-3 p {
    color: var(--notariz-pink);
}

.airdrop-button {
    margin-right: 10px;
    background: -webkit-linear-gradient(left, var(--notariz-orange), var(--notariz-pink));
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    height: 48px;
}

.airdrop-button:disabled {
    margin-right: 10px;
    background: -webkit-linear-gradient(left, var(--notariz-orange), var(--notariz-pink));
    color: white;
    opacity: 0.2;
}

