.navbar {
    background-color: #1a202c;
    z-index: 0;
}

.fs-3 p {
    color: rgb(255, 0, 85);
}

.airdrop-button {
    margin-right: 10px;
    background: -webkit-linear-gradient(left, rgb(250, 143, 3), rgb(248, 4, 86));
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    height: 48px;
}

.airdrop-button:disabled {
    margin-right: 10px;
    background: -webkit-linear-gradient(left, rgb(250, 143, 3), rgb(248, 4, 86));
    color: white;
    opacity: 0.2;
}

